@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorChat2.Model
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
<PageTitle>ChatRoom</PageTitle>

<div class="chat-container container overflow-auto shadow p-3 mb-2 bg-white rounded">
    @if (!UserMessages.Any())
    {
        <p class="text-center">No messages yet!</p>
    }
    else
    {
        foreach (var message in UserMessages)
        {
            if (message.IsCurrentUser)
            {
                <div class="row mb-3 d-flex justify-content-end">
                    <div class="message-card card shadow px-0 me-4">
                        <div class="card-header bg-dark bg-opacity-50 text-light">
                            @message.Username
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush m-0">
                                <li class="list-group-item">@message.Message</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-dark bg-opacity-50 text-light">
                            <span class="small">@message.DateSent.ToString("HH:mm | MMM dd")</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row mb-3 d-flex">
                    <div class="message-card card shadow px-0 ms-4 ">
                        <div class="card-header bg-dark text-light">
                            @message.Username
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush m-0">
                                <li class="list-group-item">@message.Message</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-dark text-light">
                            <span class="small">@message.DateSent.ToString("HH:mm | MMM dd")</span>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

<div class="container pt-2">
    <div class="row">
        <div class="col-3 text-black ps-0">
            <InputText class="form-control mb-2 mx-0" id="CurrentUsername" type="text" @bind-Value="CurrentUserName" placeholder="Your Username" readonly="@IsUserReadonly" />
            <div class="row justify-content-start">
                <div class="col-9">
                    <InputText class="form-control" id="RoomName" type="text" @bind-Value="RoomName" placeholder="Pick a room" readonly="@IsInARoom" />
                </div>
                <div class="col-3 ">
                    @if (!IsInARoom)
                    {
                        <button type="button" @onclick="JoinAsync" disabled="@(!isConnected)" class="btn btn-primary">Join</button>
                    }
                    else
                    {
                        <button type="button" @onclick="LeaveAsync" disabled="@(!isConnected)" class="btn btn-primary">Leave</button>

                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <textarea class="form-control" @bind="MessageInput" placeholder="..."></textarea>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-around pt-3">
                <div class="col item">
                    <button type="button" @onclick="SendAsync" disabled="@(!isConnected)" class="btn btn-outline-primary">Send to All</button>
                </div>
                <div class="col">
                    <button type="button" @onclick="SendSelfAsync" disabled="@(!isConnected)" class="btn btn-outline-warning">Send to Self</button>

                </div>
                <div class="col">

                    @if (IsInARoom)
                    {
                        <button type="button" @onclick="SendToGroupAsync" disabled="@(!isConnected)" class="btn btn-outline-secondary">Send to Room</button>

                    }
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .chat-container {
        height: 700px;
    }

    .message-card {
        width: 18rem;
    }
</style>


@code {
    private HubConnection connection;
    private List<UserMessage> UserMessages = new();
    private string CurrentUserName;
    private string MessageInput;
    private string MessageBody;
    private bool IsUserReadonly = false;
    public bool isConnected => connection.State == HubConnectionState.Connected;

    private string RoomName;
    public bool IsInARoom;

    protected override async Task OnInitializedAsync()
    {
        //inizializzo la connessione alla hub
        connection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatroom")).Build();

        //definisce un evento che viene triggerato da "ReceiveMessage", relativo al metodo "SendAsync" nella Hub
        connection.On<string, string>("ReceiveMessage", (user, message) =>
        {

            //crea il nuovo messaggio
            UserMessages.Add(new UserMessage
                {
                    Username = user,
                    Message = message,
                    IsCurrentUser = user == CurrentUserName,
                    DateSent = DateTime.Now
                });

            //aggiorna la pagina
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        });

        //avvia la connessione
        await connection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (connection is not null)
        {
            await connection.DisposeAsync();
        }
    }

    private async Task SendAsync()
    {
        if (!string.IsNullOrEmpty(CurrentUserName) && !string.IsNullOrEmpty(MessageInput))
        {
            await connection.SendAsync("SendMessage", CurrentUserName, MessageInput);
            IsUserReadonly = true;
            MessageInput = string.Empty;
        }
    }

    private async Task SendSelfAsync()
    {
        if (!string.IsNullOrEmpty(CurrentUserName) && !string.IsNullOrEmpty(MessageInput))
        {
            await connection.SendAsync("SendMessageSelf", CurrentUserName, MessageInput);
            IsUserReadonly = true;
            MessageInput = string.Empty;
        }
    }


    private async Task JoinAsync()
    {
        if (!string.IsNullOrEmpty(CurrentUserName) && !string.IsNullOrEmpty(RoomName))
        {
            await connection.SendAsync("JoinRoom", RoomName, CurrentUserName);
            IsInARoom = true;
        }
    }
    private async Task LeaveAsync(MouseEventArgs e)
    {
        await connection.SendAsync("LeaveRoom", RoomName, CurrentUserName);
        RoomName = string.Empty;
        IsInARoom = false;

        await InvokeAsync(() =>
           {
               StateHasChanged();
           });
    }

    private async Task SendToGroupAsync(MouseEventArgs e)
    {
        if (!string.IsNullOrEmpty(CurrentUserName) && !string.IsNullOrEmpty(MessageInput) && !string.IsNullOrEmpty(RoomName))
        {
            await connection.SendAsync("SendToRoom", RoomName, CurrentUserName, MessageInput);
            IsUserReadonly = true;
            MessageInput = string.Empty;
        }
    }
}
